<a href="https://colab.research.google.com/github/Kshitija0707/Kshitija0707/blob/main/Python__Major_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1) Find the datatype of these two declarations.

x = 5

y = "John"

In [ ]:
x = 5
y = "John"

print(f"The Data type of variable x of data {x} is {type(x)}")
print(f"The Data type of variable y of data {y} is {type(y)}")

The Data type of variable x of data 5 is <class 'int'>
The Data type of variable y of data John is <class 'str'>

# Q2) Check the validity of variable names

**Example of valid syntax:**
```python
abc = 100  # Valid variable name
```

**Check the validity of the following variable names:**

1. `3a = 10`  # Invalid (starts with a digit)
2. `@abc = 10`  # Invalid (starts with a special character)
3. `a100 = 100`  # Valid
4. `_a984_ = 100`  # Valid (can start with an underscore)
5. `a9967$ = 100`  # Invalid (contains a special character other than underscore)
6. `xyz-2 = 100`  # Invalid (contains a hyphen)

**Rules for valid variable names in Python:**

- Must start with a letter (a-z or A-Z) or an underscore (_).
- Can contain letters, digits, and underscores.
- Are case-sensitive (e.g., `abc` and `ABC` are different variables).
- Cannot be reserved keywords (e.g., `if`, `else`, `for`, `while`).

In [ ]:
valid_var = {"a100": 100, "_a984_": 100,}  # These are valid variables
invalid_var = {"3a": 10, "@abc": 10, "a9967$": 100, "xyz-2": 100}  # These are non valid variables

for key, value in valid_var.items():
  print(f"The variable {key} is valid and its value is {value}")

print('\n')

for key, value in invalid_var.items():
  print(f"The variable {key} is invalid and its value is {value}")

The variable a100 is valid and its value is 100
The variable _a984_ is valid and its value is 100


The variable 3a is invalid and its value is 10
The variable @abc is invalid and its value is 10
The variable a9967$ is invalid and its value is 100
The variable xyz-2 is invalid and its value is 100

# Q3) Checking for Element Existence in a List

**Example List:**

```python
test_list = [1, 6, 3, 5, 3, 4]
```
1) Check if 3 exist or not.

2) Check if 9 exists or not.

In [ ]:
test_list = [1, 6, 3, 5, 3, 4]

if 3 in test_list:
  print("The value 3 is present in this list")
else:
  print("The values 3 and 9 are not present in this list")

if 9 in test_list:
  print("The value 3 is present in this list")
else:
  print("The value 9 is not present in this list")

The value 3 is present in this list
The value 9 is not present in this list

In [ ]:
test_list = [1, 6, 3, 5, 3, 4]

first_value = eval(input("Enter First value to find: "))
second_value = eval(input("Enter Second value to find: "))

if first_value in test_list:
  print(f"Your first value {first_value} is present in this list")
else:
  print(f"Your first value {first_value} is not present in this list")

if second_value in test_list:
  print(f"Your second value {second_value} is present in this list")
else:
  print(f"Your second value {second_value} is not present in this list")

Enter First value to find: 3
Enter Second value to find: 8
Your first value 3 is present in this list
Your second value 8 is not present in this list

# Q4) Take the user input to print the current date?

In [ ]:
import datetime

# Get user input
user_input = input("Enter a date in YYYY-MM-DD format (e.g., 2024-01-02): ")

# Validate input format
try:
    year, month, day = map(int, user_input.split("-"))
    date_obj = datetime.date(year, month, day)
except ValueError:
    print("Invalid date format. Please enter in YYYY-MM-DD format.")
    exit()  # Exit the program if invalid input

# Print the date in different formats
print(f"Today's date in YYYY-MM-DD format: {date_obj.isoformat()}")
print(f"Today's date in DD/MM/YYYY format: {date_obj.strftime('%d/%m/%Y')}")
print(f"Today's date in full format: {date_obj.strftime('%A, %d %B %Y')}")

Enter a date in YYYY-MM-DD format (e.g., 2024-01-02): 2024-05-01
Today's date in YYYY-MM-DD format: 2024-05-01
Today's date in DD/MM/YYYY format: 01/05/2024
Today's date in full format: Wednesday, 01 May 2024

# Q5) What is the output of the following code?

a) print 9//2

b) print 9%2

In [ ]:
Exp1 = 9 // 2
Exp2 = 9 % 2
print(f"The result of first expression is {Exp1} and second expression {Exp2}")

The result of first expression is 4 and second expression 1

# Q6) Print the First 10 Natural Numbers using a while loop

In [ ]:
number = 1

while number <= 10:
  print(number)
  number += 1

1
2
3
4
5
6
7
8
9
10

# Q7) Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

**Example** = if the user entered 10 the output should be
55 (1+2+3+4+5+6+7+8+9+10)

In [ ]:
def sum_of_numbers(upper_limit):
    """Calculates the sum of all numbers from 1 to upper_limit."""
    sum = 0  # Initialize the sum to 0
    for number in range(1, upper_limit + 1):  # Iterate from 1 to upper_limit (inclusive)
        sum += number  # Add each number to the sum
    return sum  # Return the calculated sum

# Get user input
user_input = int(input("Enter a number: "))

# Calculate and print the sum
total_sum = sum_of_numbers(user_input)
print("The sum of all numbers from 1 to", user_input, "is", total_sum)

Enter a number: 89
The sum of all numbers from 1 to 89 is 4005

In [ ]:
def sum_of_all(Upper_limit):
  """It will calculate the sum of all the numbers from 1 to your upper_limit"""
  add = 0
  for num in range(1, round(Upper_limit) + 1):
    add += num
  return add

Value = eval(input("Enter a number: "))
sum = sum_of_all(Value)

print(f"The sum of all Numbers from 1 to {Value} is {sum}")

Enter a number: 21
The sum of all Numbers from 1 to 21 is 231

# Q8) Write a Python program that iterates the integers from 1 to 50. Formultiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of both three and five print "FizzBuzz"?

In [ ]:
for num in range(1,51):
  if num % 3 == 0 and num % 5 == 0:
    print("FizzBuzz")
  elif num % 3 == 0:
    print("Fizz")
  elif num % 5 == 0:
    print("Buzz")
  else:
    print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz